node_modules/
.venv/
.idea/
__pycache__/
*.pyc
backend/compressed/**
!backend/compressed/.gitkeep
backend/decompressed/**
!backend/decompressed/.gitkeep
backend/shared/**
!backend/shared/.gitkeep
backend/uploads/**
!backend/uploads/.gitkeep
backend/alembic/versions/
